.card{
    width: fit-content !important;
    background-color: #63D0B4 !important;
    padding: 18px !important;
    border-radius: 20px !important;
    -webkit-border-radius: 20px !important;
    -moz-border-radius: 20px !important;
    -ms-border-radius: 20px !important;
    -o-border-radius: 20px !important;
    border:none !important;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    margin: 5px;
}
.card img{
    border-radius: 50%;
    border: solid white 5px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    width: 70%;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    font-weight: 500;
}
.card button{
    background-color: #F3F4F8;
    border: none;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    font-family: inherit;
    padding: 5px;
    font-size: medium;
    color: rgba(0, 0, 0, 0.7);
}
.shift{
    width: fit-content;
    margin-top: 10px;
    background-color: #ffffffa6;
    border-radius: 10px;
    /* color: #63d0b4; */
    font-weight: 700;
}
.shift .btn{
    background-color: transparent;
    box-shadow: none;
    color: inherit;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
}
.shift .btn:hover {
    color: inherit;
    background-color: inherit;
}
.back{
    opacity: 0.5;
    font-size: smaller;
    height: 50% !important;
}
.pink{
    background-color: #FDBAB1 !important;
    color:#FDBAB1 !important;
}
.blue{
    background-color: #254C71 !important;
    color: #254C71 !important;;
}
.green {
    background-color: #63D0B4 !important;
    color: #63D0B4 !important;
}