.log-container{
    /*position: absolute;
    right: 10%;
    top: 40%;
    */background: #E4F4E5 !important;
    border-radius: 27px !important;
    -webkit-border-radius: 27px !important;
    -moz-border-radius: 27px !important;
    -ms-border-radius: 27px !important;
    -o-border-radius: 27px !important;
    padding: 10px 15px;
}
h2{
    /* font-family: 'El Messiri'; */
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 31px !important;
    line-height: 48px !important;
    text-align: center !important;
    color: #21161B !important;
}
input{
    /*box-sizing: border-box;
    *//*width: 100%;
    height: 100%;
    *//*left: 937px;
    top: 550px;
    */border: 0 !important;
    background-color: transparent !important;
    border-bottom: 1px solid #000000 !important;
    display: flex !important;
    flex-direction: column !important;
    /* margin-bottom: 20px !important; */
    border-radius:0 !important ;
    -webkit-border-radius:0 !important ;
    -moz-border-radius:0 !important ;
    -ms-border-radius:0 !important ;
    -o-border-radius:0 !important ;
}
input::placeholder {
    font-weight: bold !important;
    font-style: normal !important;
    font-weight: 400 !important;
    /* font-size: 23px; */
    line-height: 36px !important;
    text-align: right !important;
    color: #21161B !important;
}
input:focus {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
  }
/* .invalid-feedback {
    margin-top: 0 !important;
} */